<mat-toolbar class="primary">
  <mat-toolbar-row>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="course-title">{{currentCourse.title}}</span>

    <span class="grad-segment grad-400" fxHide.xs></span>
    <span class="grad-segment grad-300" fxHide.xs></span>
    <span class="logo-wrapper" fxHide.xs>
    <img src="assets/logo.png" class="logo" fxHide.xs></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #appMenu="matMenu" class="mat-menu">
  <div class="menu-content-wrapper">
    <button mat-menu-item (click)="openSelectCourseDialogue()">
      <mat-icon class="icon">help</mat-icon>
      Help
    </button>
    <hr>
  <button mat-menu-item>
    <mat-icon class="icon">menu_book</mat-icon>
    Change Course Module
  </button>
  </div>
</mat-menu>

<app-course>

</app-course>
