@import '~@angular/material/theming';
@include mat-core();
@import '../theme.scss';

.my-theme {
  @include angular-material-theme($my-theme);
}

::ng-deep .mat-menu {
  background-color: mat-color($my-theme-accent, 800);
  padding: 0;
}

.menu-content-wrapper {
  overflow: hidden;
  margin: 0;
}

::ng-deep .mat-menu-content{
}

hr {
  width: 80%;
}

.course-title {
  padding: 20px;
  text-transform: uppercase;
  font-size: larger;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 auto;
}

mat-toolbar-row {
  padding-right: 0;
}
