@import '~@angular/material/theming';
@include mat-core();
@import '../theme.scss';

.my-theme {
  @include angular-material-theme($my-theme);
}

::ng-deep .mat-menu {
  background-color: mat-color($my-theme-accent, 800);
  padding: 0;
}

.menu-content-wrapper {
  overflow: hidden;
  margin: 0;
}

::ng-deep .mat-menu-content{
}

hr {
  width: 80%;
}

.course-title {
  padding: 20px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: normal;
  overflow-wrap: break-spaces;
  word-wrap: break-spaces;
  text-overflow: ellipsis;
  flex: 1 1 auto;
}
.course-title-large {
  font-size: 30px !important;
}

//noinspection ALL
.course-title-small {
  font-size: 20px !important;
}

mat-toolbar-row {
  background-color: mat-color($my-theme-accent, 800);
  padding-right: 0;
  height: 100px;
}


mat-dialog-container#modal-component {
  border: 3px solid #262626;
  border-radius: 11px;
  background-color: #1a1a1a;
}

.header-spacer-fixed {
  width: 200px;
}
